<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <!--bindings>
      <basicHttpBinding>
        <binding name="GenericBasicHttpBinding" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="GenericWebHttpBinding" />
      </wsHttpBinding>
    </bindings-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="SampleSvcBehaviour">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="SampleSvcBehaviour" name="SampleCalcService.CalcService">
        <!--endpoint address="CalcSvc" binding="basicHttpBinding" contract="SampleCalcService.ICalcService" /-->
        <endpoint 
          address="CalcSvc" 
          binding="wsHttpBinding" 
          contract="SampleCalcService.ICalcService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
