<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SampleSvcBehaviour">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
          <!--serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8733/SampleSvc/mex"/-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="SampleSvcBehaviour" name="SampleCalcService.CalcService">
        <!--
       <endpoint address="http://localhost:8733/SampleSvc" binding="basicHttpBinding"
          bindingConfiguration="" name="SampleSvcBasicHttpEndPoint" contract="SampleCalcService.ICalcService" />
        <endpoint address="http://localhost:8733/SampleSvc/mex" binding="mexHttpBinding"
          bindingConfiguration="" name="SampleSvcMexEndPoint" contract="IMetadataExchange" />
          -->
        <endpoint address="CalcSvc" binding="basicHttpBinding" contract="SampleCalcService.ICalcService"/>
        <endpoint address="wsCalcSvc" binding="wsHttpBinding" contract="SampleCalcService.ICalcService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080S/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>